<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/registrationHead.ejs %>
    <title> Gator Trader | Registration </title>
</head>
<body>

<header>
    <%- include ../../partials/signInHeader.ejs %>
</header>

<main>
    <div class="main">
        <p class="sign" align="center">Register</p>
        <form class="form1" method="post" action="/registration">
            <input class="name " type="text" align="center" placeholder="Full Name">
            <input class="name" type="text" align="center" placeholder="Email">
            <input class="pass" type="password" align="center" placeholder="Password">
            <input class="pass" type="password" align="center" placeholder="Confirm Password">
            <a class="submit" align="center">Register</a>
            <p class="forgot" align="center"><a href="/signIn">Already Registered? Sign In Here</a></p>
        </form>
    </div>
</main>


<!-- Footer -->
<footer>
    <% include ../../partials/footer.ejs %>
</footer>

</body>
</html>
