body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}
.bg-1 {
    background-color: #1b96c6; /* blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-5{
    background-color: #f0f4fa; /* Light Grey */
    color: #555555;
}
.bg-6{
    background-color: #320033; /* Purple */
    color: #ffffff;
}
.bg-7{
    background-color: #fbca32; /* Gold */
    color: #000000;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: #320033;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-default {
    background-color: #f2f0eb;
    background-image: none;
    background-repeat: no-repeat;
}
.panel-default {
    border-color: #320033;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration:none;
    cursor:pointer;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}