<!-- views/partials/signInHeader.ejs -->

<!-- Navbar -->
<nav class="navbar navbar-default align-center">
    <div class="container align-center">
        <!-- Home logo button -->
        <div class="navbar-header align-center">
            <a class="navbar-brand align-center" href="/">Gator Trader</a>
        </div>
    </div>
</nav>