<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.ejs %>
    <title> Gator Trader | About Hayato Waki </title>
</head>
<body>

<header>
    <% include ../../partials/header.ejs %>
</header>

<main>
    <!-- Student Info -->
    <div class="container-fluid bg-7 text-center">
        <img src="https://svgsilh.com/svg/23768.svg" class="img-responsive img-circle margin" style="display:inline" alt="me" width="350" height="350">
        <h2 class="margin"> Hayato Waki </h2>
        <h4> Back-End Developer </h4>
        <h4> I'm an exchange student from Japan. My portfolio is
            <a href="https://wakkihaya.com"> here. </a> </h4>
    </div>
</main>

<footer>
    <% include ../../partials/aboutFooter.ejs %>
</footer>

</body>
</html>