<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.ejs %>
    <title>Gator Trader | About Grayson </title>
</head>
<body>

<header>
    <% include ../../partials/header.ejs %>
</header>

<main>
    <!-- Student Info -->
    <div class="container-fluid bg-7 text-center">
        <img src="https://svgsilh.com/svg/23768.svg" class="img-responsive img-circle margin" style="display:inline" alt="me" width="350" height="350">
        <h2 class="margin"> Grayson </h2>
        <h4> Team Lead </h4>
        <h4> Grayson is a super stud supreme, extra sauce. Is there more you need to know? </h4>
    </div>
</main>

<footer>
    <% include ../../partials/aboutFooter.ejs %>
</footer>

</body>
</html>