<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.ejs %>
    <title> Gator Trader | About Us </title>
</head>
<body>

<header>
    <%- include('../../partials/header.ejs', {categories : categories}); %>
</header>

<main>
    <!-- First Container -->
    <div class="container-fluid bg-6 text-center">
        <h2 class="margin"> Meet the Team! </h2>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-7 text-center">
        <h2 class="margin"><a href="/about/Anmol"> Anmol Gondara </a></h2>
    </div>
    <!-- First Container -->
    <div class="container-fluid bg-7 text-center">
        <h2 class="margin"><a href="/about/Anton"> Anton Abramson </a></h2>
    </div>
    <!-- First Container -->
    <div class="container-fluid bg-7 text-center">
        <h2 class="margin"><a href="/about/Daniel"> Daniel Gutierrez </a></h2>
    </div>
    <!-- First Container -->
    <div class="container-fluid bg-7 text-center">
        <h2 class="margin"><a href="/about/Grayson"> Grayson Mical</a></h2>
    </div>
    <!-- First Container -->
    <div class="container-fluid bg-7 text-center">
        <h2 class="margin"><a href="/about/Hayato"> Hayato Waki </a></h2>
    </div>
    <!-- First Container -->
    <div class="container-fluid bg-7 text-center">
        <h2 class="margin"><a href="/about/Samjot"> Samjot Singh </a></h2>
    </div>
</main>

<footer>
    <% include ../../partials/aboutFooter.ejs %>
</footer>

</body>
</html>