<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.ejs %>
    <title> Gator Trader | About Anton Abramson </title>
</head>
<body>

<header>
    <% include ../../partials/header.ejs %>
</header>

<main>
    <!-- Student Info -->
    <div class="container-fluid bg-7 text-center">
        <img src="https://svgsilh.com/svg/23768.svg" class="img-responsive img-circle margin" style="display:inline" alt="me" width="350" height="350">
        <h2 class="margin"> Anton Abramson </h2>
        <h4> Front-End Team Lead </h4>
        <h4> Software engineer specializing in front end development, UI, UX, and marketing. </h4>
    </div>
</main>

<footer>
    <% include ../../partials/aboutFooter.ejs %>
</footer>

</body>
</html>