<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.ejs %>
    <title> Gator Trader | About Samjot </title>
</head>
<body>

<header>
    <% include ../../partials/header.ejs %>
</header>

<main>
    <!-- Student Info -->
    <div class="container-fluid bg-7 text-center">
        <img src="https://i.ibb.co/N9BRPgh/IMG-3454.jpg"  class="img-responsive img-circle margin" style="display:inline" alt="me" width="350" height="350">
        <h2 class="margin"> Samjot </h2>
        <h4> Front-End Developer </h4>
        <h4> Samjot is a senior at San Francisco State Univesity who loves to code. </h4>
    </div>
</main>

<footer>
    <% include ../../partials/aboutFooter.ejs %>
</footer>

</body>
</html>